body {
    background-color: #4e3d54;
    font-size: 1em;
    color:#ffffff;
    text-decoration: none;
    font-family: sans-serif;
}
table{
    position: absolute;
    width:80%;
    border :5px solid #fff;
    top:250px;
    left: 10%;
}
img{
    float:right;
    position: absolute;
    top: 50px;
    right : 160px;

    
}
a{
    color:#ffffff;
    font-family: sans-serif;
    font-size: 2em;
}